# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
config.js
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
*.komodotools

# Espresso
*.esproj
*.espressostorage

# Folders to ignore

node_modules
TMP_*
.idea

static
raw_articles
config.json
contents/static
contents/favicon.ico
build
contents/articles
contents/about.md
up.sh
google*.html